---
layout: default
title: Mine in Abyss
page-title: Mine in Abyss
home-title:
description:
---
<head>
    <!--Font-awesome, a font for icons-->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
</head>
<main>
    {% if paginator.page == 1 %}
        {% include homepage-title.html %}

        <ul class="ex-list">
            <li class="fadeInUp animated social-buttons">
                {% include buttons/social.html name="discord" delay="0.2s" href="https://discord.gg/QXPCk2y" %}
                {% include buttons/social.html name="github" delay="0.4s" href="https://github.com/mineinabyss" %}
                {% include buttons/social.html name="youtube" delay="0.6s" href="https://www.youtube.com/channel/UCcN3FYcYDX5fk-sJX8yG3ig" %}
                {% include buttons/social.html name="twitter" delay="0.8s" href="https://twitter.com/MineInAbyss" %}
                {% include buttons/social.html name="patreon" delay="1s" href="https://www.patreon.com/mineinabyss" %}
            </li>
            <li class="fadeInUp animated markdown-body">
                <h1>General info:</h1>
                <p>Check us out on social media with the buttons above.</p>
                <p style="text-align: left">Build Server ip: <code>build.mineinabyss.com</code> Help out with the project. Build on the creative world, then apply on the Discord server.</p>
                <p style="text-align: left">Survival Server ip: <code>survive.mineinabyss.com</code> Play and build with others!</p>
                <a class="fadeInUp animated button" href="contributing.html">Learn how to contribute</a>
            </li>
            <li class="fadeInUp animated markdown-body">
                <h4>Downloads:</h4>
                <p style="text-align: left">The custom server resourcepack is automatically downloaded when joining the server.
                    However, if you have any issues with loading times, you may download it here</p>
                <p style="text-align: left">
                    We use a Skybox with many renders of the abyss to enhance the experience.
                    It is quite large, so it isn't sent automatically like the resourcepack.
                    Check it out below!</p>


                <a class="fadeInUp animated button" href="resourcepack.html">Download Resourcepack</a>
                <a class="fadeInUp animated button" href="skybox">About Skybox</a>

            </li>
        </ul>
    {% else %}
        <div class="wow fadeIn top" data-wow-duration="3.5s" >
        <span class="wow fadeInUp" data-wow-delay="0.2s">{{ page.page-title }}</span>
        <span class="wow fadeInUp" data-wow-delay="0.4s">Post gallery</span>
        </div>

    {% endif %}
    <ul class="post-list">
        {% if paginator.page == 1 %}
        <li class="fadeInUp animated markdown-body">
            <h1>Post gallery:</h1>
            <p>Have a look at what we're up to. You can also sort posts by <a href="tags.html">Tags</a> or see a <a href="timeline.html">Timeline</a> view.</p>
            <a class="fadeInUp animated button" href="gallery.html">Click here to check out our community gallery</a>
        </li>
        {% endif %}

        {% include posts_paginator.html %}
    </ul>
    {% include pageNav.html %}

</main>
{% include footer.html %}
